.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .container {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.login-button {
    background-color: #ffc107;
}

.register-button {
    background-color: #ffc107;
}

.text-forgot {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.submit-button {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 10px;
}

.google-button{
    border-color: black;
    border-radius: 5px;
}

.google-btn {
    display: flex;
    justify-content: center;
}